*.gem
*.rbc
*.pot
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

Makefile
Makefile.am.common
Makefile.in
aclocal.m4
autodocs-cc-base.ami
autodocs-cc-off.ami
autodocs-cc.ami
autodocs-ycp.ami
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
config.guess
config.log
config.status
config.sub
configure
configure.ac
install-sh
missing
package/yast2-auth-client-*.tar.bz2
pluglib-bindings.ami
src/Makefile
src/Makefile.in

