[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=auth-client

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=auth-client
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstRequires=
X-SuSE-YaST-AutoInstSchema=auth-client.rnc
X-SuSE-YaST-Keywords=authentication,sssd,pam,ldap,krb5

Icon=yast-kerberos
Exec=xdg-su -c "/sbin/yast2 auth-client"

Name=Authentication Client
GenericName=Configure the authentication client (sssd)
StartupNotify=true

